# Required python modules 
# pip install -r requirements.txt 

pyttsx3
SpeechRecognition
pyaudio
pywhatkit
yfinance
pyjokes
git+https://github.com/openai/whisper.git
gradio
youtube-search-python
torch
torchvision
torchaudio
wikipedia
numpy

# macOS seems to need this for pyttsx3
